<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Contactos</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Comentario</th>
        <th>Fecha / Hora</th>
        <th>IP</th>
      </tr>
    </thead>
    <tbody>
        <% for (const get of contact) { %>
            <tr>
                <th><%= get.nombre%></th>
                <td><%= get.correo%></td>
                <td><%= get.comentario%></td>
                <td><%= get.fecha%></td>
                <td><%= get.clientIP%></td>
            </tr>
            <% } %>
      
    </tbody>
  </table>
</div>

</body>
</html>